/** IE7 Styles **/
#ri-grid {display:none;}
#Nav {top:3px;}
body h2 {background:url(../images/footer-bg.png) top center transparent;}
#biography h2#bioHeader {border:solid 2px #e5b218;}
#biography {padding-top:55px;}